@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

/* Áp dụng font và reset các thuộc tính margin, padding cho tất cả các phần tử */
*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #c3bae7, #b8a6d9, #e4c0c8, #f8cee2);
}

/*----KHỐI CHỨA CHÍNH----*/
.wrapper{
    width: 800px;
    padding: 35px;
    background: #fefefe;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.wrapper h1{
    text-align: center;
    margin-bottom: 25px;
}

/* Ẩn ô nhập liệu */
.wrapper .input-field{
    z-index: -999;  /*che đi hoàn toàn*/
    opacity: 0;     /*làm nó trong suốt*/
    position: absolute;
}

.wrapper .content-box{
    padding: 13px 20px 0;
    border-radius: 10px;
    border: 1px solid #ccc;
}


/* Vùng văn bản cho sẵn */
.content-box .typing-text{
    max-height: 255px;
    overflow-y: auto;   /*xử lý nội dung tràn ra ngoài theo chiều dọc (trục Y). -> scroll dọc*/
}

/* Ẩn thanh cuộn dọc */
.typing-text::-webkit-scrollbar{  /*Đoạn văn quá dài thì có thể lăn chuột xuống*/
    width: 0;
}

/* Văn bản cho sẵn */
.typing-text p{
    font-size: 20px;
    text-align: justify;
    letter-spacing: 1px;
    word-break: break-all; /*khi hết đoạn thì một từ sẽ tự động ngắt ở bất kỳ chữ nào để xuống hàng*/
}

.typing-text p span{
    position: relative;
}

.typing-text p span.correct{
    color: #06D001;
}

.typing-text p span.incorrect{
    color: #FF0000;
    background: #f8dddd;
    outline: 1px solid #fff;
    border-radius: 4px;
}

.typing-text p span.active{
    color: #3d4647 
}

/* Hiệu ứng nhấp nháy cho phần tử 'active' */
.typing-text p span.active::before{ 
    content: "";    /* Nội dung rỗng */
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    opacity: 0;
    background: #686D76;
    animation: blink 1s ease-in-out infinite;   /* Hiệu ứng nhấp nháy liên tục */
}

/* Định dạng animation cho hiệu ứng nhấp nháy */
@keyframes blink {  
    50%{
        opacity: 1; /* Hiển thị phần tử ở giữa chu kỳ */
    }
}

/* Khối chứa kết quả */
.content-box .content{
    display: flex;
    margin-top: 17px;
    padding: 12px 0;
    align-items: center;
    border-top: 1px solid #ccc;
    justify-content: space-between;
}

/* Nút bấm */
.content button{
    border: none;
    outline: none;
    width: 105px;
    padding: 8px 0;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    background: linear-gradient(135deg,#6155A6, #8E7AB5, #E493B3, #E1AFD1);
    transition: transform 0.3 ease;
}

.content button:hover {
    background: linear-gradient(135deg,#5749a9, #7656b5, #dd739d, #dd85c1); /* Đổi gradient khi hover */
    transform: scale(1.05); /* Tăng kích thước nút khi hover */
}

.content button:active{
    transform: scale(0.97);
}

/* Chi tiết kết quả */
.content .result-details{
    display: flex;
    width: calc(100% - 140px);
    justify-content: space-between;
}

.result-details li{
    height: 22px;
    display: flex;
    list-style: none;
    align-items: center;
}

/* Chi tiết kết quả (trừ mục đầu tiên) */
.result-details li:not(:first-child){
    padding-left: 22px;
    border-left: 1px solid #ccc;
}

.result-details li p{
    font-size: 19px;
}

.result-details li span{
    display: block;
    font-size: 20px;
    margin-left: 10px;
}

/* Định dạng các phần tử span (trừ mục đầu tiên) */
.result-details li:not(:first-child) span{
    font-weight: 500;
} 

.result-details li b{
    font-weight: 500;
}